/*********************************************/
/* 				GUIDE	                     */
/*********************************************/

/**

 * 01 - ROOT

 * 02 - TYPOGRAPHY
 ** 2.1 - Buttons
 ** 2.2 - Links
 ** 2.2 - Colours and Text Decoration

 * 03 - PAGE LAYOUT
 ** 3.1 - Alignment
 ** 3.2 - Grid & Flexbox

 * 04 - NAVIGATION
 ** 4.1 - Desktop Nav Bar
 ** 4.2 - Sticky Nav
 ** 4.3 - Mobile Nav

 * 05 - CONTENT & MEDIA

 * 06 - SITE SECTIONS
 *** 6.1 - Main Banner / Jumbotron

 *** 6.2 - Front Page
 **** 6.2a - Event Intro
 **** 6.2b - Date & Venue
 **** 6.2c - Speakers Section	
 **** 6.2d - Panels Section
 **** 6.2e - Call for Papers
 **** 6.2f - Important Dates
 **** 6.2g - Registration
 **** 6.2h - Contact Us
 **** 6.2i - Organisers
 **** 6.2j - Newsletter
 **** 6.2k - Sponsors

 *** 6.3 - Secondary Pages
 **** 6.3a - Panels
 **** 6.3b - Speakers
 **** 6.3c - Schedule
 **** 6.3d - Travel Info

 * 07 - FOOTER

 * 08 - MISC
 ** 8.2 Forms
 ** 8.3 Accordions
 ** 8.4 Slider

 * 09 - MEDIA QUERIES

**/



/*********************************************/
/*											 */
/* 		01 - ROOT						     */
/*											 */
/*********************************************/

/* These are common colours used throughout the site */

:root {
	--grey-text: #525151;
	--light-grey: #ececec;
	--dark-grey: #212425;
	--dark-blue: #2a4273;
	--sky-blue: #419df3;
	--yellow-orange: #ffc238;
	--pink: #ee6352;
	--green: #09ad74;
	--light-orange: #f9e5bd;
	--rose: #ffd5d5;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body, html {
	height: 100%;
}

html {
	font-size: 15px;
}



/*********************************************/
/*											 */
/* 		02 - TYPOGRAPHY      			     */
/*											 */
/*********************************************/

body {
	color: var(--grey-text);
	font-family: 'IBM Plex Sans', sans-serif;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5rem;
}

h1 {
	font-size: 1.3em;
	line-height: 1.5em;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 0px;
	text-transform: uppercase;
}

h2 {
	font-weight: 400;
	font-size: 1.2em;
}

h3 { 
	font-size: 1em;
}

.section {
    width: 100%;
    font-size: 1em;
}

p {
	font-size: 1em;
}

/*********************************************/
/* 		02.1 - BUTTONS 	 		           	 */
/*********************************************/

.btn {
	border: none;
	text-decoration: none;
	padding: 0.6em 2em 0.6em 2em;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	font-size: 0.9em;
}

.btn--pink {
	background-color: var(--pink);
	color: white;
}

.btn--pink:hover {
	background-color: white;
	color: var(--pink);
}

.btn--pink--border {
	background-color: var(--pink);
	color: white;
}

.btn--pink--border:hover {
    -webkit-box-shadow:inset 0px 0px 0px 2px var(--pink);
    -moz-box-shadow:inset 0px 0px 0px 2px var(--pink);
    box-shadow:inset 0px 0px 0px 2px var(--pink);
	background-color: white;
	color: var(--pink);
}

.btn--green, .btn--green--border {
	background-color: var(--green);
	color: white;
}

.btn--green:hover {
	background-color: white;
	color: var(--green);
}

.btn--green--border:hover {
    -webkit-box-shadow:inset 0px 0px 0px 2px var(--green);
    -moz-box-shadow:inset 0px 0px 0px 2px var(--green);
    box-shadow:inset 0px 0px 0px 2px var(--green);
	background-color: white;
	color: var(--green);
}

.btn--sm {
	padding: 5px 10px 5px 10px;
}


/*********************************************/
/* 		2.2 - LINKS  					     */
/*********************************************/

a, a:visited {
	text-decoration: none;
	font-weight: 700;
}

.link--blue {
	color: var(--sky-blue);
}

.link--blue:hover {
	border-bottom: solid 1px var(--sky-blue);
}

.link--white {
	color: white;
}

.link--white:hover {
	border-bottom: solid 1px white;
}



/*********************************************/
/* 		2.2 - COLOURS & TEXT DECORATION		 */
/*********************************************/

.white-text {
	color: white;
}

.underline {
	text-decoration: underline;
}



/*********************************************/
/*											 */
/* 		03 - PAGE LAYOUT     			     */
/*											 */
/*********************************************/

.content {
    padding-top: 50px;
    padding-bottom: 50px;
	width: 80%;
	margin: 0 auto;
}

/*********************************************/
/* 		3.1 - ALIGNMENT   				     */
/*********************************************/

.center-text {
	text-align: center;
}

/*********************************************/
/* 		3.2 - CSS GRID & FLEXBOX  		     */
/*********************************************/

.two-column {
	display: grid;
	grid-gap: 40px;
	grid-template-areas:
		"left"
		"right" ;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

.col--left {
	grid-area: left;
}

.col--right {
	grid-area: right;
}

/*********************************************/
/*											 */
/* 		04 - NAVIGATION   		             */
/*											 */
/*********************************************/

/*********************************************/
/* 		4.1 - DESKTOP NAV BAR           	 */
/*********************************************/

.desktop-nav {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	background: rgba(42, 66, 115, 0);
	width: 100%;
   	padding-top: 20px;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

.nav__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.nav__logo {
	display: flex;
}

.desktop-nav__links {
	display: flex;
	letter-spacing: 0.3px;
	list-style: none;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	padding: 0;
	font-size: 13px;
}

.desktop-nav__links li:not(:last-child) {
	margin-right: 50px;
}

.desktop-nav__links li a:hover::after {
	transform: scaleX(1);
   -webkit-transform: scaleX(1);
   -ms-transform: scaleX(1);
}

.desktop-nav__links > li > a {
	font-weight: 700;
}

.nav__link {
	color: white;
	text-decoration: none;
	position: relative;
	display: inline;
}

.desktop-nav__links > li > a::after {
	content: '';
	height: 3px;
	width: 100%;
	background: white;
	top: 110%;
	left: 0;
	position: absolute;
	transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
  	-webkit-transition: transform 250ms ease-in-out;
	-moz-transition: transform 250ms ease-in-out;
	-o-transition: transform 250ms ease-in-out;
	transition: transform 250ms ease-in-out;
}

.dropdown-menu {
	margin-top: 10px;
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-top: 4px solid var(--sky-blue);
	display: none;
}

.dropdown--desktop {
	padding-left: 0;
	list-style-type: none;
}

.down-carat {
	margin-left: 5px;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
   	left: 11px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--sky-blue) transparent;
    z-index:9999;
}

.dropdown-menu li {
	width: 100%;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.dropdown-menu > li > a {
	padding: 8px 15px 8px 15px;
	display:block;
	color: var(--grey-text);
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.dropdown-menu >li > a:hover {
	color: white;
	background-color: var(--sky-blue);
}

.dropdown-menu li:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.active {
   transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
}

/*********************************************/
/* 		4.2 - STICKY NAV 		           	 */
/*********************************************/

.sticky-nav {
	height: 60px;
	width: 100%;
	height: 60px;
	padding-top: 0;
	background: rgba(25, 89, 177, 1);
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.sticky-logo {
	width: 50%;
	height: auto;
}

/*********************************************/
/* 		4.3 - MOBILE NAV  		          	 */
/*********************************************/

.mobile-nav {
	display: block;
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 60px;
    max-width: 100%;
}

.mobile__toggle {
	margin-left: 20px;
	margin-top: 20px;
}

.line {
	display: block;
	width: 30px;
	height: 3px;
	background: white;
	margin-bottom: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger.is-active .line:nth-child(2) {
	opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
	-webkit-transform: translateY(8px) rotate(45deg);
	-ms-transform: translateY(8px) rotate(45deg);
	-o-transform: translateY(8px) rotate(45deg);
	transform: translateY(8px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	-ms-transform: translateY(-8px) rotate(-45deg);
	-o-transform: translateY(-8px) rotate(-45deg);
	transform: translateY(-8px) rotate(-45deg);
}

.mobile-nav__links {
	overflow: hidden;
	height: auto;
	max-height: 1000px;
	transition: max-height 0.3s ease-out;
	margin-left: 0;
	margin-top: 20px;
	padding-left: 0px;
	background-color: white;
	list-style-type: none;
	width: 100vw;
	max-width: 100%;
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.mobile-nav__closed {
	max-height: 0;
}

.mobile-nav__links li {
	padding: 1em 2em 1em 2em;
	max-width: 100%;
}
.
.mobile-nav__links li:not(:last-child) {
	border-bottom: 1px solid var(--light-grey);
}

.mobile-nav__links li .down-carat {
	margin-left: 20px;
	font-size: 1.5em;
}

.mobile-nav__links a {
	color: var(--dark-blue);
	font-weight: 400;
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}

.mobile-nav__links a:not(.dropdown--mobile__switch) {
	display: block;
}

.mobile-nav__links a:hover, a:active {
	color: var(--sky-blue);
}

.dropdown--mobile__switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropdown--mobile {
	list-style-type: none;
	padding-left: 0.8em;
	display: none;
}

.mobile-nav__links li.mobile__dropdown--active {
	padding: 1em 0 0 0;
}

.mobile__switch--active {
	display: block;
	padding-left: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid var(--light-grey);
}

.sticky--mobile {
	background: var(--dark-blue);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;	
}


.show {
	display: block;
}

/*********************************************/
/*											 */
/* 		05 - CONTENT & MEDIA         	     */
/*											 */
/*********************************************/

.papers-image {
	max-width: 40%;
	display: block;
	margin: 30px auto 30px auto;
}

/*********************************************/
/*											 */
/* 		06 - SITE SECTIONS      		     */
/*											 */
/*********************************************/

/*********************************************/
/* 		6.1 - MAIN BANNER / JUMBOTRON	     */
/*********************************************/

.jumbotron {
	height: 500px;
}

.jumbotron__text {
	width: 80%;
}

.slide-overlay, .slide-overlay .content  {
	padding: 0;
	height: inherit;
	width: 100%;
	position: absolute;
}

.slide-overlay .content {
	display: flex;
	z-index: 1;
}

.jumbotron__text {
	margin: auto;
	text-align: center;
}

.jumbotron__date-time {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 30px;
}

.jumbotron__date-time h2 {
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
}



/*****  JUMBOTRON CTA BUTTONS  ***************/

.jumbotron___ctas {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.jumbotron__btn {
	font-size: 0.8em;
}

.jumbotron___ctas a:first-of-type {
	margin-right: 10px;
}

/*********************************************/
/*											 */
/* 		6.2 - FRONT PAGE     			     */
/*											 */
/*********************************************/

/*********************************************/
/* 		6.2a - EVENT INTRO				     */
/*********************************************/

#section--intro {
	background: white;
}

.video-container {
	display: flex;
	justify-content: flex-end;
}

.video-container iframe{
	max-width: 100%;
}

/*********************************************/
/* 		6.2b - DATE & VENUE				     */
/*********************************************/

#section--date-venue {
	background: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url('../assets/img/nccu-mainentrance.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 19px 42px -6px rgba(45, 45, 45, 0.2);
}

.date-venue__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
	grid-gap: 40px;
	justify-content: center;
}

.date-venue__details {
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-gap: 15px;
	align-items: center;
	color: white;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 700;
    padding: 20px 30px 20px 30px;
}

.date-venue__details > .fa {
	margin-right: 30px;
	font-size: 40px;
}

.date-venue__details p {
	font-size: 23px;
	margin: 0;
}

.date__details > .fa-calendar-check-o {
	color: var(--yellow-orange);
}

.venue__details > .fa-map-marker {
	color: var(--pink);
}

.venue__button {
	font-size: 14px;
	grid-column-start: 2;
	justify-self: start;
	align-self: flex-end;
}

/*********************************************/
/* 		6.2c - SPEAKERS SECTION    			 */
/*********************************************/

#section--speakers {
	background: var(--dark-grey);
}

.section--speakers__grid {
	display: grid;
	max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 390px));
	grid-template-rows: repeat(2, minmax(200px, 1fr));
	grid-gap: 15px;
	margin: 40px auto 0 auto;
	justify-content: center;
}

.section--speaker__info {
	overflow: hidden;
	display: grid;
	grid-template-columns: 150px 2fr;
	height: 200px;
	background-color: white;
}

.section--speaker__img {
	width: 150px;
	height: 200px;
	object-fit: cover;
}
.section--speaker__bio {
	padding: 20px 30px 20px 0;
	margin-left: 30px;
	align-self: center;
	max-height: inherit;
}
.section--speaker__name {
	margin-top: 0px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	display: inline;
}
.section--speaker__name::after {
	content: '';
	position: absolute;
	top: 110%;
	left: 0;
	width: 100%;
	height: 4px;
	background: var(--yellow-orange);
}

/*********************************************/
/* 		6.2d - PANELS SECTION  		 		 */
/*********************************************/

#section--panels {
	background: var(--light-grey);
}

/*********************************************/
/* 		6.2e - CALL FOR PAPERS  			 */
/*********************************************/

.call-for-papers__container {
	display: grid;
	align-items: center;
	grid-gap: 50px;
	grid-template-areas: 
		"papertext"
		"paperimg";
	grid-template-rows: 1fr auto;
}

.call-for-papers__text {
	grid-area: papertext;
}

.call-for-papers__img {
	grid-area: paperimg;
}


#section--call-for-papers > .content > div > p:last-of-type {
	margin-bottom: 40px;
}


/*********************************************/
/* 		6.2f - IMPORTANT DATES / TIMELINE  	 */
/*********************************************/

#section--timeline {
	background: var(--dark-blue);
}

.timeline__container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 50px;
	min-height: 200px;
}

.timeline__event {
	position: relative;
	background: white;
	width: 110px;
	padding: 10px;
	margin-bottom: 50px;
	align-self: flex-start;
}

.timeline__event {
	cursor: pointer;
	background: white;
}

.timeline-event__date {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timeline-event__desc::before {
  content: '';
  position: absolute;
  left: -13px;
  top: 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 14px 8px 0;
  border-color: transparent var(--yellow-orange) transparent transparent;
  z-index: 10;  
}

.timeline-event__desc {
	background: var(--yellow-orange);
	position: absolute;
	width: 150%;
	min-height: 64px;
	right: -180%;
	top: 0px;
	padding: 10px;
	text-align: center;
	font-weight: 500;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-event__desc p {
	margin: 0;
}

.timeline-event__date {
	display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-blue);
}

.timeline__day {
	margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.timeline__month {
	text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}


/*********************************************/
/* 		6.2g - REGISTRATION 	  			 */
/*********************************************/


/*********************************************/
/* 		6.2h - CONTACT US 		 			 */
/*********************************************/

#section--contact {
	background: var(--dark-blue);
}

.map {
	max-width: 100%;
}

/*********************************************/
/* 		6.2i - Organisers 		 			 */
/*********************************************/

#section--organisers {
	background: var(--light-grey);
	display: grid;
	grid-template-areas:
			"organiser"
			"desc";
	grid-template-rows: 300px 1fr;
}

.image--holder {
	display: block;
	grid-area: organiser;
	background: url('../assets/img/team.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}

.organisers__desc {
	grid-area: desc;
}

/*********************************************/
/* 		6.2j - NEWSLETTER  			 		 */
/*********************************************/

#section--newsletter {
	background: url('../assets/img/mailing-list-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

#section--newsletter .content {
	flex-direction: column;
}

#newsletter__form input[type=email] {
	min-width: 200px;
	width: 80%;
	max-width: 300px;
	margin-bottom: 0;
	margin-right: 10px;
}

/*********************************************/
/* 		6.2k - SPONSORS 					 */
/*********************************************/

.logos-list {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
	justify-items: center;
	align-items: center;
}

.logo--circle {
	max-width: 80%;
	max-height: inherit;
}

.logo--long {
	max-width: 90%;
	max-height: inherit;
}

.most-logo, .demo-logo {
	grid-column: span 2;
}

/*********************************************/
/*											 */
/* 		6.3 - SECONDARY PAGES 			     */
/*											 */
/*********************************************/

/*********************************************/
/* 		6.3a - PANELS PAGE  		  	     */
/*********************************************/

#page--panels {
	background: var(--light-grey);
}

#page--panels__container {
	background: var(--light-grey);
}

.panel__col {
	background: white;
	display: grid;
	grid-template-areas:
		"left"
		"right" ;
}

.panel__img {
	width: 100%;
	height: 250px;
	background: var(--yellow-orange);
}

.panel--even {
	background: var(--light-grey);
}

.panel--even > .panel__img {
	background: #efad0a;
}

/*********************************************/
/* 		6.3b - SPEAKERS PAGE  		  	     */
/*********************************************/

#page--speakers {
	background: var(--light-grey);
}

#page--speakers__container {
	background: var(--dark-blue);
}

#page--speakers__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    grid-gap: 40px;
    justify-content: center;
}

.page--speakers__info {
	background: white;
	grid-template-columns: 1fr;
	grid-template-rows: 250px 1fr;
	height: auto;
	margin-bottom: 40px;
}

.page--speakers__img {
	height: 250px;
	width: 100%;
	object-fit: cover;
}

.page--speakers__bio {
	padding: 15px 40px 40px 40px;
}

/*********************************************/
/* 		6.3c - SCHEDULE PAGE  		  	     */
/*********************************************/

.sched__table {
	width: 95%;
	margin: 2em auto 2em auto;
	border-collapse: collapse;
}

.sched__table th, .sched__table td {
	padding: 10px;
}

.sched__table td {
	border-bottom: 1px solid slategrey;
}

.table__headers {
	background: var(--dark-grey);
	color: white;
}

.sched--break {
	background: var(--light-orange);
}

.sched--impt {
	background: var(--rose);
}

.schedule__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

th {
	text-align: left;
}

.table__time {
	width: 20%;
}

/*********************************************/
/* 		6.3d - TRAVEL INFO  		  	     */
/*********************************************/
#page--travel-info {
	background: var(--light-grey);
}

.col--img {
	height: 100%;
}

.col--img > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	max-height: 400px;
}

#travel-info-accommodation {
	color: white;
	background: var(--dark-grey);
	grid-template-
}

#travel-info-accommodation--grid {
	display: grid;
	background: var(--dark-grey);
}

.hotel__container {
	padding-top: 0px;
	background: var(--dark-grey);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
	grid-gap: 30px;
	justify-content: center;
}

.hotel {
	width: 100%;
	display: grid;
	grid-template-rows: 200px 1fr;
	background: white;
}

.hotel__img {
	background: var(--yellow-orange);
}

.hotel__desc {
	padding: 15px 20px 15px 20px;
}

#travel-info-taiwan--img {
	display: grid;
	grid-template-columns: repeat(auto-fit, 33.33%);
	grid-template-rows: 200px 200px;
}

.taiwan__img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

/*********************************************/
/*											 */
/* 		07 - FOOTER   	 		       	     */
/*											 */
/*********************************************/

footer {
	width: 100%;
	background-color: var(--dark-grey);
}

.footer__container {
	flex-direction: column;
}

.fa-map-marker {
	margin-right: 10px;
}

.social-media i:first-of-type {
	margin-right: 15px;
}

.footer__logos__container img {
	margin-left: 20px;
}


/*********************************************/
/*											 */
/* 		08 - MISC   	 		       	     */
/*											 */
/*********************************************/


/*********************************************/
/* 		8.2 - FORMS  	 		           	 */
/*********************************************/

#registration-form {
	width: 100%;
}

#registration-form input[type="text"], input[type="email"] {
	color: var(--sky-blue);
	letter-spacing: 0.5px;
	outline: none;
	border: 1px solid var(--sky-blue);
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
}
::placeholder {
	color: var(--sky-blue);
}

label {
	display: block;
}

#registration-form input[type="submit"] {
	width: 100%;
}

/*********************************************/
/* 		8.3 - ACCORDION  	 		       	 */
/*********************************************/

.show-panels {
	outline: none;
	border: none;
	background: var(--green);
	color: white;
	padding: 10px;
}

.accordion-switch {
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--sky-blue);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    margin-bottom: 5px;
    outline: none;
}

.accordion__panel {
    overflow: hidden;
    height: auto;
    max-height: 2000px;
    transition: max-height 0.3s ease-out;
}

.panel--closed {
	max-height: 0;
}

.panel--open {
	padding-top: 40px;
	padding-bottom: 40px;
	overflow: auto;
	max-height: 100%;
}

.panel--hidden {
	display: none;
}

.panel--showall {
	border: 0;
	padding: 0.5em;
	font-weight: 700;
	background-color: var(--dark-blue);
	color: white;
}

.panel--showall:hover {
	background: white;
	border: var(--sky-blue) 2px solid;
	color: var(--sky-blue);
}

/*********************************************/
/* 		8.4 - SLIDER  	 	 		       	 */
/*********************************************/

.slider-wrap {
	width: 100%;
	height: inherit;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.slick-initialized {
	visibility: visible;
}

.slick-list, .slick-track {
	height: 100%;
}

.slide {
	height: 100%;
}

.slide-1 {
    background: url('../assets/img/taipei101-night.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.slide-2 {
    background: url('../assets/img/nccu-main-entrance.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slide-3 {
    background: url('../assets/img/gen-building.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: bottom;
}

.slick-arrow {
	z-index: 2;
}

.slick-next {
	right: 25px;
}

.slick-prev {
	left: 25px;
}

.slick-prev:before, .slick-next:before { 
	font-family: FontAwesome; 
	font-size: 25px; 
	line-height: 1; 
	color: white; 
	opacity: 0.80; 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
}   

.slick-prev:before { 
	content: "\f053"; 
}

[dir="rtl"] .slick-prev:before { 
	content: "\f054"; 
}

[dir="rtl"] .slick-next { 
	left: -10px; 
	top: 70px; 
	right: auto; 
}

.slick-next:before { 
	content: "\f054"; 
}

[dir="rtl"] .slick-next:before { 
	content: "\f053"; 
}

/*********************************************/
/*											 */
/* 		09 -  MEDIA QUERIES 	 		     */
/*											 */
/*********************************************/

@media screen and (min-width: 500px) {
	
	.logo--circle {
		max-width: 50%;
		max-height: inherit;
	}

	.logo--long {
		max-width: 100%;
		max-height: inherit;
	}
	.logo--long {
		grid-column: span 1;
	}
}

@media screen and (min-width: 800px) {

	html {
		font-size: 15px;
	}

	.section {
		font-size: 1em;
	}

	h1 {
		font-size: 2em;
	}

	.two-column {
		grid-template-columns: 50% 50%;
		grid-template-areas: 
			"left right";
		grid-template-rows: auto;		
	}

	.jumbotron__text {
		width: 80%;
	}

	.jumbotron__date-time {
		flex-direction: row;
	}

	.jumbotron__date-time h2:first-of-type {
		margin-right: 30px;
	}

	.jumbotron__btn {
		font-size: 0.9em;
	}

	.call-for-papers__container {
		grid-template-columns: 1fr 40%;
		grid-template-areas: 
			"papertext paperimg";
		grid-template-rows: auto;	
	}

	.papers-image {
		max-width: 55%;
		margin: auto;
	}

	#registration-form input[type="submit"] {
		width: auto;
	}

	#section--newsletter {
		align-items: center;
	}

	#section--newsletter .content {
		flex-direction: row;
		align-items: center;
	}

	#section--organisers {
		grid-template-columns: 40% auto;
		grid-template-areas: 
			"organiser desc";
		grid-template-rows: auto;
	}

	.logos-list {
		grid-template-columns: repeat(4, 1fr);
	}

	.logo--circle {
		width: 100%;
		max-width: 140px;
		height: auto;
	}

	.logo--long {
		max-width: 260px;
		width: 100%;
		grid-column: span 1;
	}

	.panel__col {
		grid-template-areas: 
			"left right";
		grid-template-columns: 45% auto;
	}

	.panel__img {
		height: 100%;
	}

	.footer__container {
		flex-direction: row;
	}

}

@media screen and (min-width: 1500px) {

	.papers-image {
		max-width: 50%;
	}

}

/* Timeline Media Queries */
/* Add left margin only on smaller screens */

@media screen and (min-width: 460px) and (max-width: 900px) {

	.timeline__container {
		margin-left: 20%;
	}
}

@media screen and (min-width: 900px) and (max-width: 1220px) {

	.timeline-event__desc {
		height: 130%;
	}

	.timeline-event__desc p {
		font-size: 0.9em;
		line-height: 1.2em;
	}
}

@media screen and (min-width: 900px) {

	.timeline__container {
		flex-direction: row;
		justify-content: center;
	}

	.timeline__event {
		margin-bottom: 0px;
	}

	.timeline__event:not(:last-child) {
		margin-right: 80px;
	}

	.timeline-event__desc {
		position: absolute;
    	width: 150%;
    	left: -25%;
    	top: 120%;
    	padding: 10px;
	}
	
	.timeline-event__desc::before {
    	content: '';
    	position: absolute;
   		left: 40%;
    	top: -9px;
    	width: 0;
   		height: 0;
    	border-style: solid;
    	border-width: 0 10px 10px 10px;
    	border-color: transparent transparent var(--yellow-orange) transparent;
    	z-index: 2;  

	}
}


@media screen and (min-width: 755px) {

	.jumbotron {
		font-size: 0.8rem;
	}

	.desktop-nav__links {
		font-size: 0.9em;
	}

	/* Hide mobile navigation and show desktop navigation and sticky nav bar */
	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		display: flex;
	}

	.desktop-nav__links li:not(:last-child) {
		margin-right: 20px;
	}

	.sticky-nav {
		display: flex;
	}

}

@media screen and (min-width: 1030px) {
	.jumbotron {
		font-size: 1rem;
	}

	#registration-form input[type="text"], input[type="email"] {
		margin-bottom: 10px;
		width: 400px;
	}
	#newsletter__form input[type=email] {
		width: 400px;
	}
}

/*------ About Taipei -----*/
/*#about-taiwan {
	background-color: var(--light-grey);
}
.taiwan-photo-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(300px,1fr));
}
.taiwan-photo-1 {
	height: 300px;
	background: url('../assets/img/taiwan1.jpeg');
	background-size: cover;
}
.taiwan-photo-2 {
	height: 300px;
	background: url('../assets/img/taiwan2.jpeg');
	background-size: cover;
}
.taiwan-photo-3 {
	height: 300px;
	background: url('../assets/img/taiwan3.jpeg');
	background-size: cover;
}
.taiwan-photo-4 {
	height: 300px;
	background: url('../assets/img/taiwan4.jpeg');
	background-size: cover;
}
.taiwan-photo-5 {
	height: 300px;
	background: url('../assets/img/taiwan5.jpeg');
	background-size: cover;
}
.taiwan-photo-6 {
	height: 300px;
	background: url('../assets/img/taipei6.jpeg');
	background-size: cover;
}*/

